<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Final Project</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link  type='text/css' rel="stylesheet" href="/styles.css"/>        
    </head>

    <body>
        <div id="login">
            <div class="banner"><h1>Create Your Account</h1></div>
            <%- include ('./partials/messages') %>
            <form action="/users/register" method="POST">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input
                        class="input"
                        type="name"
                        name="name"
                        placeholder="Enter Name"
                        value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
            </div>
            <div class="field">
                <label class="label">Email Address</label>
                <div class="control">
                    <input
                        class="input"
                        type="email"
                        name="email"
                        placeholder="Enter Email"
                        value="<%= typeof email != 'undefined' ? email : '' %>"
                    />
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input
                        class="input"
                        type="password"
                        name="password"
                        placeholder="Create Password"
                        value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                </div>
            </div>
            <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control">
                    <input
                        class="input"
                        type="password"
                        name="password2"
                        placeholder="Confirm Password"
                        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    />
                </div>
            </div>
            <div>
                <button type="submit" class="longbutton" >Create Account</button>
            </div>
            </form>
            <a href="/users/login">Already have an account? Login.</a>
            <br>
        </div>  
    </body>
</html>